[production]
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 Edge versions
not dead
not op_mini all
not ie 11
not safari < 14
not chrome < 90
not firefox < 90

[development]
last 1 chrome version
last 1 firefox version
last 1 safari version